<div class="row">
  <% files.forEach(function(file) { %>
  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
    <div class="card hoverImageMouse">
      <a href="<%= `${appUrl}${path}/${file.name}` %>" class="removeLink" target="_blank">
        <img
          src="<%= `${appUrl}${path}/${file.name}` %>?width=300&height=168resizing_type=fit&extend=1&enlarge=1&background_rgb=FFFFFF&format=webp&quality=25"
          class="card-img-top mt-3" alt="<%= file.name %>" />

        <div class="card-body">
          <h5 class="card-title"><%= file.name %></h5>
          <p class="card-text"><%= file.fileSize %> MB</p>
        </div>
      </a>
    </div>
  </div>
  <% }); %>
</div>